/* GENERAL **************************************************************** */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0;
    outline: none;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background: #FBB503;
}



/* TYPOGRAPHY ************************************************************* */

html {
    font-size: 18px;
}

.quote-p {
    font-style: italic;
}

.white-text {
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}


/* HEADER ***************************************************************** */
header {
    align-items: baseline;
    background: black;
    display: flex;
    justify-content: center;
    padding: 1rem 4rem 2rem;
}

h1 {
    font-family: 'Abril Fatface', serif;
    font-size: 6rem;
}

h2 {
    color: #FBB503;
    font-size: 2rem;
    padding-left: 2rem;
}

.name-p {
    font-family: 'Abril Fatface', serif;
    font-size: 2rem;
}

.more-info-div p {
    font-weight: bold;
}


/* MAIN ******************************************************************* */
.image-div {
    width: 50vh;
    height: 50vh;
    border: 20px solid white;
    background: white;
}

img {
    width: 100%;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.previous-button, 
.next-button {
    align-self: center;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
    font-size: 3rem;
}

.previous-button:focus .fas, 
.previous-button:hover .fas, 
.next-button:focus .fas,
.next-button:hover .fas {
    color: white;
}

.more-button {
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
}

.more-button:focus .fas, 
.more-button:hover .fas {
    color: black;
}

img {
    width: 100%;
}

img {
    width: 100%;
}


/* FOOTER ***************************************************************** */